* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

nav {
    background-color: #96C91E;
    border-top: 1px solid #BF3100;
    border-bottom: 1px solid #BF3100;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FF4E00;
}
