@charset "UTF-8";
*, *:before, *:after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, p {
    margin: 10px 0;
    line-height: 1.5;
}

::-moz-selection {
    background-color: #ED7D3A;
    color: #eee;
}

::selection {
    background-color: #ED7D3A;
    color: #eee;
}

.menu-toggle {
    display: none;
}

.mobile-bar {
    z-index: 10;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    padding: 0 25px;
    width: 100%;
    height: 60px;
    background-color: #0f9b49;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.menu-icon {
    display: block;
    position: absolute;
    width: 25px;
    height: 100%;
    cursor: pointer;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.menu-icon>span {
    display: block;
    position: absolute;
    top: 55%;
    margin-top: -0.3em;
    width: 100%;
    height: 0.3em;
    border-radius: 1px;
    background-color: #eee;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.menu-icon>span:before, .menu-icon>span:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1px;
    background-color: #eee;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.menu-icon>span:before {
    -webkit-transform: translateY(-0.6em);
    transform: translateY(-0.6em);
}

.menu-icon>span:after {
    -webkit-transform: translateY(0.6em);
    transform: translateY(0.6em);
}

.menu-toggle:checked+.mobile-bar .menu-icon {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-toggle:checked+.mobile-bar span:before, .menu-toggle:checked+.mobile-bar span:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu-toggle:checked~.header {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
}

.menu-toggle:checked~.container {
    -webkit-transform: translateX(70%);
    transform: translateX(70%);
    -webkit-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
}

.header {
    text-align: center;
    position: fixed;
    top: 0;
    left: -35%;
    padding-top: 60px;
    width: 70%;
    height: 100%;
    background-color: #0f9b49;
    overflow-y: scroll;
    text-align: right;
    color: #eee;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.header nav, .header ul {
    height: 100%;
}

.nav-logo {
    display: inline;
    margin: 4px auto;
}

.header li {
    border-bottom: 1px solid #eee;
}

.header a {
    display: block;
    padding: 20px;
    -webkit-transition: background-color 300ms ease-in;
    transition: background-color 300ms ease-in;
}

.header a:hover {
    background-color: #ED7D3A;
}

.container {
    position: relative;
    top: 60px;
    padding: 0x 20px;
    background-color: #eee;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.content {
    margin: 0 auto;
    max-width: 100%;
}

.footer {
    margin-top: 40px;
    font-size: 0.9em;
    text-align: center;
    background-color: #0f9b49;
    height: 45px;
    color: #eee;
}

.footer a {
    font-weight: 700;
}

.footer a:hover {
    text-decoration: underline;
}

header img {
    width: 180px;
}

img.logo {
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin: 0 auto;
}

@media (max-width: 720px) {
    header.imageheader {
        display: none;
    }
}

@media (min-width: 720px) {
    .menu-toggle:checked~.header {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .menu-toggle:checked~.container {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .mobile-bar {
        display: none;
    }
    .header {
        z-index: 5;
        position: relative;
        left: 0;
        padding-top: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .header li {
        display: inline-block;
        margin-right: -6px;
        border: none;
        text-align: center;
    }
    .header a {
        padding: 12px 45px;
        text-align: center;
    }
    .container {
        top: 0;
    }
}

li a:hover {
    background-color: #FF4E00;
}
