.bodyOrderPage{
	background-color: #DC143C;
	display: inline;
}
.orderPageHeader{
	text-align: center;

}
.backgroundOrderPage{
	background-color: white;
	margin: 100px auto;
	width: 50%;
	height: 300px;
	border: solid 10px;
	border-color: #0f9b49;
}
.orderPageButtonDelivery{
	width:48%;
	margin-left: 7px;
	font-size: 20px;
	background-color: #0f9b49;
	color: white;
}
.orderPageButtonDelivery:hover{
	cursor: pointer;
	color: #0f9b49;
	background-color: white;
}	
.orderPageButtonTakeAway{
	width:48%;
	margin-right: 7px;
	font-size: 20px;
	background-color: #0f9b49;
	color: white;
}
.orderPageButtonTakeAway:hover{
	cursor: pointer;
	color: #0f9b49;
	background-color: white;
}	
.orderPagePostcodeNummers{
	width:48%;
	height:100%;
	font-size: 25px;
	text-align: center;
	margin-left: 7px;
	
	border: 2px solid; 
	border-color: #0f9b49;
	padding-bottom: 3px;
	padding-top: 2px;
}
.orderPagePostcodeLetters{
	width:48%;
	height:100%;
	font-size: 25px;
	text-align: center;

	margin-right: 7px;
	border: 2px solid; 
	border-color: #0f9b49;
	padding-bottom: 3px;
	padding-top: 2px;
}
.orderPageButtonSearch{
	width:97%;
	height:100%;
	background-color: #0f9b49;
	color: white;
	font-size: 25px;
	margin-right: 7px;
	margin-left: 7px;
}
.orderPageButtonSearch:hover{
	cursor: pointer;
	color: #0f9b49;
	background-color: white;
}
.lapPostCode{
	margin-top: 10px;
	width:100%;
}
.takeAwayList{
}